# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\DANE\sync\Google Drive\specjalizacja\git\super-sprinter-3000-websql-python-flask (flask intro)\SuperSprinter by Mateusz Zawistowski\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
